// 布局设置
//flex 垂直布局，中间自适应
.flex-box-column{
    display: flex;
    flex-direction: column;
    height 100%
    .flex-center{
        flex: 1
        overflow: auto
    }
    .flex-side{
        flex: 0 0 auto;
        height auto;
        }
}