// 颜色定义规范
$color-table-row-select = #a0cfff
// button
$color-btn-primary = #fff
$color-btn-bg-primary = #409EFF
$color-btn-bg-hover-primary = #66b1ff

// 字体定义规范
$font-size-m = 14px
$font-size-l = 18px
